 {{!-- idk how to properly use handlebars partials, so this goes here --}}
<div id="wrapper">
  <h1>New York Times Scraper</h1>
  <div class="row">
    <div id="threads" class="col-lg-8 col-md-8 col-sm-8">
      {{#each collection}}
      <div class="row" id={{this._id}}>
        <div class="col">
          <img src={{this.photo}} style="float:right">
          <div>
            <h2>{{this.headLine}}</h2>
            <p>{{this.summary}}</p>
            <a href={{this.url}}>{{this.url}}</a>
            <p>By: {{this.byLine}}</p>
            <button data-id={{this._id}} class="btn btn-danger add-note">Add note</button>
          </div>
        </div>
      </div>
      <br> {{/each}}
    </div>
    <div id="notes" class="col-lg-4 col-md-4 col-sm-4"></div>
  </div>
</div>
