 {{!-- idk how to properly use handlebars --}}
<div id="wrapper">
  <h1>Echo JS Scraper</h1>
  <h2>Threads</h2>

  <div id="threads">
    
      {{#each collection}}
      <p data-id={{this._id}} id={{this._id}}>
        <strong> Overview: {{this.title}} </strong>
        <p>
          <strong> Description: </strong> <span> {{this.description}} </span>
        </p>
        <a href={{this.link}}> {{this.link}} <a/>
      </p>
      <br>
      {{/each}}

  </div>

  <div id="notes"></div>
</div>